{% extends 'base.html' %}
{% block content %}
<div class="container">
    <form action="/" method="post">
    <div class="row">
        <!-- left node  -->
        <div class="col-md-5">

        {% regroup categories by MainCategory as maincategory %}
        <ul>
        {% for mncat in maincategory %}
            {% if mncat.grouper %}
            <li> <h3>{{ mncat.grouper }}</h3>
                {% endif %}

                {% regroup mncat.list by SubCategory1 as events_list_by_month %}
                {% for month in events_list_by_month %}
                <ul> {% if month.grouper %}
                    <h4>{{month.grouper}}</h4>
                    {% endif %}
                <ul>
                 {% for SubCategory1 in month.list %}
                    <li>{{ SubCategory1.SubCategory2 }}</li>
                {% endfor %}
                </ul>
            </ul>
                {% endfor %}
            </li>
        {% endfor %}
        </ul>

        </div>

        <!-- right node  -->
        <div class="col-md-7">
            <form action="/" method="post">
                {% csrf_token %}
            <div class="row">
                    <div class="col-md-8">
                        <div>
                            Heading: {{descriptions_Form.title}}
                        </div>
                        <div>
                            Descriptions: {{descriptions_Form.desc}} 
                        </div>
                        {% if obj %}
                        Tag: 
                            {% for ss in obj.tag.all %}
                                {{ss}}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-md-4">
                        Tags: <br>
                        {{descriptions_Form.tag}}
                        <!-- {% for tg in descriptions_Form.tag %}
                        <input type="checkbox" id='{{tag.id}}' />
                        <label class="form-check-label" for="{{tag.id}}"> {{tg}} </label> <br>
                         {% endfor %} -->
                    </div>
            </div>
            <button type="submit">Submit</button>
            <button type="reset">Cancel</button>
            </form>

            <!-- all descriptions  -->
            <div class="row">
                <h3>All Review</h3>
                <!-- <form action="?" method="get"> -->
                <div class="col-md-10">
                    {% for d in descriptions %}
                        <div>
                            {% if getid == d.id %}
                            <input hidden type="text" value="{{d.id}}" name='inpt'>
                            {% endif %}

                            {{d}}
                            <a href="?docid={{d.id}}" type="submit" name="edit" class="btn btn-primary">Edit</a>
                        </div>
                        <!-- delete button  -->
                        <!-- <div class="control">
                            <a href="" class="btn btn-danger mt-3 me-3">Delete</a>
                        </div> -->

                    {% endfor %}
                </div>
            <!-- </form> -->
            </div>
        </div>
    </div>
</form>
</div>
{% endblock %}